<a href="https://colab.research.google.com/github/DONIHSAN/Data-Mining/blob/main/Contoh_UTS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Dataset
dataset = pd.DataFrame({
    'nim': ['3122001', '3122002', '3122003', '3122004', '3122005', '3122006', '3122007', '3122008', '3122009', '31220010'],
    'nama': ['Ikhsan', 'Syifa', 'Anggita', 'Fikri', 'Rani', 'Inay', 'Tiara', 'Hapi', 'Rafli', 'Dika'],
    'nilai': [90, 95, 100, 70, 65, 55, 90, 88, 85, 93],
    'prodi': ['Teknik Informatika', 'Teknik Industri', 'Teknik Lingkungan', 'Teknik Informatika', 'Teknik Industri',
              'Teknik Lingkungan', 'Teknik Informatika', 'Teknik Industri', 'Teknik Lingkungan', 'Teknik Informatika']
})

# 1. Jumlah mahasiswa
jumlah_mahasiswa = len(dataset)
print(f"Jumlah mahasiswa: {jumlah_mahasiswa}")

# 2. Rata-rata nilai mahasiswa
rata_rata_nilai = dataset['nilai'].mean()
print(f"Rata-rata nilai mahasiswa: {rata_rata_nilai}")

# 3. Nilai maksimum dan minimum
nilai_maksimum = dataset['nilai'].max()
nilai_minimum = dataset['nilai'].min()
print(f"Nilai maksimum: {nilai_maksimum}")
print(f"Nilai minimum: {nilai_minimum}")

# 4. Jumlah mahasiswa tiap prodi
jumlah_mahasiswa_per_prodi = dataset['prodi'].value_counts()
print("\nJumlah mahasiswa tiap prodi:")
print(jumlah_mahasiswa_per_prodi)

# 5. Data mahasiswa prodi Teknik Informatika
data_ti = dataset[dataset['prodi'] == 'Teknik Informatika']
print("\nData mahasiswa prodi Teknik Informatika:")
print(data_ti)

# 6. Data nilai mahasiswa yang lebih besar dari 85
data_nilai_lebih_85 = dataset[dataset['nilai'] > 85]
print("\nData nilai mahasiswa yang lebih besar dari 85:")
print(data_nilai_lebih_85)

# 7. Rata-rata nilai mahasiswa tiap prodi
rata_rata_nilai_per_prodi = dataset.groupby('prodi')['nilai'].mean()
print("\nRata-rata nilai mahasiswa tiap prodi:")
print(rata_rata_nilai_per_prodi)

Jumlah mahasiswa: 10
Rata-rata nilai mahasiswa: 83.1
Nilai maksimum: 100
Nilai minimum: 55

Jumlah mahasiswa tiap prodi:
prodi
Teknik Informatika    4
Teknik Industri       3
Teknik Lingkungan     3
Name: count, dtype: int64

Data mahasiswa prodi Teknik Informatika:
        nim    nama  nilai               prodi
0   3122001  Ikhsan     90  Teknik Informatika
3   3122004   Fikri     70  Teknik Informatika
6   3122007   Tiara     90  Teknik Informatika
9  31220010    Dika     93  Teknik Informatika

Data nilai mahasiswa yang lebih besar dari 85:
        nim     nama  nilai               prodi
0   3122001   Ikhsan     90  Teknik Informatika
1   3122002    Syifa     95     Teknik Industri
2   3122003  Anggita    100   Teknik Lingkungan
6   3122007    Tiara     90  Teknik Informatika
7   3122008     Hapi     88     Teknik Industri
9  31220010     Dika     93  Teknik Informatika

Rata-rata nilai mahasiswa tiap prodi:
prodi
Teknik Industri       82.666667
Teknik Informatika    85.750000
Teknik Lingkungan     80.000000
Name: nilai, dtype: float64